.position-first {
  position: absolute;
  top :8px;
  right: 8px;
}
.position-second {
  position: absolute;
  top :8px;
}
.position-third {
  position: absolute;
  bottom :8px;
  right: 8px;
}
.position-fourth {
  position: absolute;
  bottom :8px;
}

h1{
  text-align: center;
}
